**/.vs
**/.vscode/
**/out
**/out/*
**/build
**/build/*
./Euphoria-Source/ext/project-path.hpp
Euphoria-Source/ext/project-path.hpp
/Euphoria-Source/ext/project-path.hpp
Euphoria-Source/ext/project_path.hpp
Euphoria-Source/ext/project_path.hpp.in
**/save.json
**/respawn.json
